.chat-header{
    background-color: white;
    margin: 2px;
    padding: 2px;
    border-bottom: 2px solid #a9cae7;
    font-weight: bold;
    color: black;
    margin-bottom: 10px;
}

.conversa{
    height: 100%;
    border-radius: 3px;
    padding: 10px;
    border-bottom: 2px solid #a9cae7;
}

.user-message{
    align-content: flex-end;
    align-items: flex-end;
    justify-content: end;
}

.mensagem{
    border: rgb(179, 206, 206);
    align-content: center;
    align-items: center;
    margin: 2px;
    padding: 3px;
    bottom: 0;
    position: relative;
}
